*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(ChatGPT\ Image\ Feb\ 15\,\ 2026\,\ 07_03_25\ PM.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: rgb(0, 149, 255);
    border-radius: 12px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: black;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;

}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.wrapper .remember-forgot label input{
    margin-right: 3px;
}
.wrapper .remember-forgot a{
    color: black;
    text-decoration: none;
}
.wrapper .remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 50px;
    background: rgb(0, 149, 255);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.wrapper .btn:hover{
    background: white;
    color: black;
    transition: .3s;
}
.wrapper .register-link{
    text-align: center;
    transform: translateY(10px);
}

.wrapper .register-link a{
    color: green;
    text-decoration: none;
}
